h1, p{
    margin: 0;
}


.container-main-registration{
    min-height: 100vh;
    background: linear-gradient( -135deg, #c850c0, #4158d0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.registration-container{
    position: relative;
    background-color: #fff;
    width: 960px;
    border-radius: 10px;
    padding: 50px;
}
.registration-title{
    font-family: 'Montserrat';
    color: #2b2b2b;
    font-size: 24px;
}
.input-registration-container{
    display: flex;
    flex-wrap: wrap;
}
.input-left{
    display: flex;
    flex: 1;
    padding-right: 7.5px;
    justify-content: space-between;
    flex-direction: column;
}
.input-right{
    display: flex;
    flex: 1;
    padding-left: 7.5px;
    justify-content: space-between;
    flex-direction: column;
}
.input-bottom{
    flex-basis: 100%;
}
.input-row{
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    color: #666666;
}
.checkbox-row{
    padding: 15px 0;
    margin: 5px 0;
    color: #666666;
    display: flex;
    flex-wrap: wrap;
}
.checkbox-row > label{
    flex-basis: 100%;
    position: relative;
    bottom: 10px
}
.checkbox-item {
    display: flex;
    align-items: center;
    flex-basis: 33%;
}
.checkbox-gender {
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    border:none;
    border-radius: 20px;
    outline: none;
    background-color: #e6e6e6;
    cursor: pointer;
    position: relative;
    margin-right: 5px;
  }
.checkbox-gender:checked:before {
    content: "";
    position: absolute;
    display: inline-block;
    border-radius: 13px;
    height: 13px;
    width: 13px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #57b846;
}

.registration-link{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: green;
    border-radius: 20px;
    padding: 5px 8px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: inline-block;
}


.registration-link:hover{
    color: #57b846;
    transition: 0.3s;
}  

/* Tablet^ */
@media only screen and (min-width: 600px) {
    .registration-link{
        display: inline-block;
       position: unset;
      background-color: #fff;
    }
    
    .registration-link svg{
        color: #a09e9e
    }

    
    .registration-link svg:hover{
        color: #57b846;
        transition: 0.3s;
    }   
}