h1, p{
    margin: 0;
}
.container-main-forgot{
    min-height: 100vh;
    background: linear-gradient( -135deg, #c850c0, #4158d0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot-container{
    position: relative;
    background-color: #fff;
    width: 960px;
    border-radius: 10px;
    padding: 50px;
}
.forgot-title{
    font-family: 'Montserrat';
    color: #2b2b2b;
    font-size: 24px;
}
.input-forgot-container{
    width: 100%;
}
.input-row{
    margin: 5px 0;
    font-family: 'Poppins', sans-serif;
    color: #666666;
}